strong, b {
  font-family: 'Open Sans Semibold', sans-serif;
}

p {
	font-size: 0.9rem;
}

.navbar.default-layout-navbar {
  background: #188ae2;

  .navbar-menu-wrapper {
    color: #ffffff;

    .search-field {
      .input-group-prepend i, .form-control, .form-control:focus {
        color: #ffffff;
      }

      .form-control::placeholder,
      .form-control::-webkit-input-placeholder,
      .form-control:-ms-input-placeholder,
      .form-control::-moz-placeholder,
      .form-control:-moz-placeholder {
        color: rgba(255, 255, 255, .5) !important;
      }
    }

    .dropdown .dropdown-toggle::after {
      color: #ffffff;
    }
  }

  .navbar-brand-wrapper {
    background: dodgerblue;

    .navbar-brand, .navbar-brand:hover {
      color: #ffffff;
    }
  }
}

.default-layout-navbar {
  box-shadow: 0 2px 10px rgba(0, 0, 0, .08);
}

.content-wrapper {
  padding: 1.6rem;
}

.page-header {
  margin: 0 0 0.8rem 0;
}

.card {
  .card-title {
    color: inherit;
  }
  .card-body {
    padding: 2rem;
  }
}

@media (max-width: 575px) {
  .content-wrapper {
    padding: 0;
  }

  .card {
    :not(&.card-img-holder) {
      border-radius: 0;
    }

    .card-body {
      padding: 1rem;
    }
  }
}

@media (min-width: 768px) {
  .scroll-wrapper {
    overflow: auto;
  }
}
