.cursor-pointer {
  cursor: pointer;
}

.alert {
  font-size: 14px;

  &.alert-dismissible .close {
    padding: 0.6rem 1rem;
  }
}

.badge-light {
  color: #3e4b5b;
}

.btn {
  font-family: 'Open Sans Semibold', sans-serif;

  &.btn-sm {
    font-size: 0.8rem;
  }
}

.modal-header .close {
  margin: -15px -15px -15px auto;
}

.modal .lead {
  font-size: 1.1rem;
}

[class^="card border-"] {
  border-width: 1px !important;
  border-style: solid !important;
}